* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

.header {
    background-color: #f65a00ea;
    text-align: center;
    color: white;
    padding: 20px 0 0 0;
}

ul {
    background-color: #8b3a00;
    list-style: none;
    padding: 10px 30px; 
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

ul li { margin-right: 25px; }

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.gele-lijn {
    width: 100%;
    height: 4px;
    background-color: yellow;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: calc(100vh - 250px);
}

.col-4 {
    background-color: #fab278;
    width: 25%;
    padding: 30px;
}

.col-8 {
    background-color: white;
    width: 75%;
    padding: 30px;
}

/* Tekst en Afbeeldingen */
img { max-width: 100%; height: auto; }
.p1, .p3 { font-size: x-large; font-weight: bold; margin-bottom: 15px; }
.p3 { color: #d55c00e5; }
.p4 { margin-bottom: 15px; }
.p5 { font-size: large; font-weight: bold; line-height: 1.5; }

.footer {
    background-color: #d55c00e5;
    text-align: center;
    padding: 30px;
    color: white;
}

/* Mobiel */
@media only screen and (max-width: 768px) {
    .row { display: block; }
    .col-4, .col-8 { width: 100%; }
    ul { flex-direction: column; padding-left: 20px; }
    ul li { margin-bottom: 10px; }

}